<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br/>
      <h1 style="text-align:center">Our Services</h1>
      <br/>
      <h4 style="text-align:center">
      <br/>We help you dream.
      </h4>
      <br/><br/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 col-sm-offset-1">
      <% @filtered_services.each do |each_service| %>
        <div class="panel panel-success">
          <div class="panel-heading">
            <%= each_service.title %>
          </div>
          <div class="panel-body">
            <p><%= limit_to_num_of_char(each_service.content, 100)%></p>
            <p>Tags:
              <% each_service.tags.each do |tag| %>
                <a href="/services/filtered/<%= tag.name %>"><%= tag.name %></a>
              <% end %>
            </p>
          </div>

          <div class="panel-footer">
            <a href = "/services/<%= each_service.id%>/details" class="btn">View more details</a>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      <h4>Service Tags</h4>
        <% @tags.each do |tag| %>
          <p class="tag"><a href="/services/filtered/<%=tag%>"><%= tag%></a></p>
        <% end %>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br><hr>
      <a href="/services">Back to Services home</a>
    </div>
  </div>

</div>




          
