<div class="bootstrap-admin-with-small-navbar">
  <div class="container">
    <!-- left, vertical navbar & content -->
    <div class="row">
      <!-- left, vertical navbar -->
      <div class="col-md-2 bootstrap-admin-col-left">

        <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
          

        <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">          

          <li>
            <a href="/admin"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
          </li>
          <li>

            <a href="/admin/events"><i class="glyphicon glyphicon-chevron-right"></i>Events</a>
          </li>
          <li class="active">
            <a href="/admin/groups"><i class="glyphicon glyphicon-chevron-right"></i>Groups</a>

            <a href="/admin/events"><i class="glyphicon glyphicon-chevron-right"></i>Events</a><!-- calendar.html -->

          </li>
          <li>
            <a href="/admin/users"><span class="badge pull-right"><%= @total_users %></span> Users</a>
          </li>

          <li class="active">
            <a href="/admin/groups"><span class="badge pull-right"><%= @total_groups %></span> Groups</a>
          </li>
        </ul>
      </div>

      <!-- content -->
      <div class="col-md-10">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1>Groups</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Title Goes Here</div>
              </div>
              <div class="bootstrap-admin-panel-content text-muted users_table">
                <div class="text-muted bootstrap-admin-box-title">Find Groups</div>
              </div>
              <div class="bootstrap-admin-panel-content text-muted users_table">
                <% @groups.each do |group| %>
                <div class = "row">
                  <div class="col-md-6">
                    <h4><%= group.group_name %></h4>
                  </div>
                  <div class ="col-md-6">
                    <% if group.status == true %>
                    <form method="POST" action="/admin/groups/<%=group.id%>/deactivate" role="form">
                      <input type="submit" class="btn btn-danger" value="Deactivate Group">
                    </form>
                    <% else %>
                    <form method="POST" action="/admin/groups/<%=group.id%>/activate" role="form">
                      <input type="submit" class="btn btn-small btn-success" value="Activate Group">
                    </form>
                    <% end %>
                  </div>   
                </div>
                <hr />
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>        
</div>