<div class="dashboard">
	<div class="row">
		<div class="col-md-3">
			<div class="announcements">
				<p>Hey guys! This is where we're going to put some cool stuff that we want you to know about!</p>
			</div>
		</div>
		<div class="col-md-5">
			
			<% @memberships.each do |membership| %>
			<div class="group-message">
				<h3><%= membership.group.group_name %></h3>
				<h4><%= membership.group.posts.last.title %></h4>
				<p><%= membership.group.posts.last.content %></p>
			</div>
			<% end %>
			<p>Please join a group if you haven't already!</p>
		</div>
		<div class="col-md-4">
			<h3> What's Happening in Toronto </h3>
			<% @events.each do |event| %>
				<div class="event">
					<h4><%= event.title %></h4>
					<p><%= event.event_date %></p>
					<p>We need a new column to have event details!</p>
					<a href="#">See More</a>
				</div>
			<% end %>
		</div>
	</div>
</div>
