<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<% @events.each do |event| %>
		<div class="row">
			<div class="panel panel-default">	
				<div class="panel-body" data-toggle="collapse" data-target="#<%=event.id%>">
					<h2><%= event.title %></h2><p><%= event.event_date %></p>
				</div>
				<div id="<%=event.id%>" class="collapse">
					<div class="event_dropdown">
					<p><%= event.location %></p>
					<p><%= event.url %></p>
					<p><%= event.created_at %></p>
					<p><a href="/event/<%= event.id %>/details">View More Details</a></p>
					</div>
				</div>
			</div>
		</div>

		<% end %>
	</div>
	<div class="col-md-4">
		<h2 class="bt_header">What's Happening Today</h2>
		<div class="blog_to">
			<% @blog_to_events.each do |event| %>
			<p><%= event[0][0] %></p>
			<p><%= event[1][0].to_s %></p>
			<a href="http://www.blogto.com<%= event[0][1] %>">See More</a>
			<hr />
			<% end %>
		</div>
	</div>
</div>