    <!-- Page Content -->
    <div class="container">
        <!-- Membership Feed -->
        <br>
        <div class="row">
            <div class="text-center">
                <div class="col-md-8">
					      <h2>Updates From Your Groups</h2>
					        <% if @memberships.present? %>
								<% @memberships.each do |group| %>
    								<% if group.posts.exists? %>
    								    <div class="group-message">
    									<h3><%= group.group_name %></h3>
    									<h4><a href="/groups/<%=group.id%>/details"><%= group.posts.last.title %></a></h4>
    									<p><%= group.posts.last.content %></p>
    								    </div>
    								<% end %>
							     <% end %>
							<% else %>
								<p>Please join a group if you haven't already!</p>
							<%end %>
    					</div>
                </div>
                <br><br>
            <div class="col-md-4 wb-twitter">
                <a class="twitter-timeline" 
                   width="300"
                   height="500"
                   href="https://twitter.com/ISCCanada" 
                   data-widget-id="692762832819982336">Tweets by @ISCCanada</a>
            </div>
        </div>
        <hr>
        <!-- Announcements Feed -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
					        <h3>Announcements</h3>
					        <h4><%= @announcement.title%></h4>
					        <p><%= @announcement.content%></p>
					        <p><%= @announcement.created_at %>
					      </div>
            </div>
        </div>

        <!-- Events Feed -->

    <div class="row" ng-repeat="event in events" ng-if="$index % 3 == 0">
        <div class="col-md-4">
            <p><a href="/event/<%= @events[0].id%>/details"><%= @events[0].title%></a></p>
            <p><%= @events[0].details%></p>
            <p><span class="badge"><%= @events[0].event_date%></span></p>
            
        </div>
        <div class="col-md-4">
            <p ng-if="events[$index + 1].title != null">
            <p><a href="/event/<%= @events[1].id%>/details"><%= @events[1].title%></a></p>
            <p><%= @events[1].details%></p>
            <p><span class="badge"><%= @events[1].event_date%></span></p>
        </div>
        <div class="col-md-4">
            <p ng-if="events[$index + 1].title != null">
            <p><a href="/event/<%= @events[2].id%>/details"><%= @events[2].title%></a></p>
            <p><%= @events[2].details%></p>
            <p><span class="badge"><%= @events[2].event_date%></span></p>
        </div>
    </div>
</div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>




